<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Hi, welcome to our website</h1>
    <h3>Now, The total number of users are:</h3>
    <div class="count"><p><%= count %></p></div>
    <a class="show-all-btn" href="http://localhost:3000/users"
      >Show all users</a
    >
  </body>
</html>
